<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN</title>
</head>
<body>
<h1>Join</h1>
<!-- 에러코드가 존재하면 사용 -->
<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/member/join}" method="post">

    <label>
        <input type="text" name="memberId" placeholder="User ID" required>
    </label>
    <label>
        <input type="password" name="memberPw" placeholder="Password" required>
    </label>
    <label>
        <input type="text" name="memberName" placeholder="User Name" required>
    </label>

    <button type="submit">JOIN</button>
</form>
</body>
</html>
